<div class="modal">
    <div class="modal__gestion scale-up-center" *ngIf="padron.nombre.length > 0">
        <div class="modal__header">
            <div class="modal__titulo">
                <span>Crear gestión</span>
            </div>
            <div class="modal__cerrar">
                <i class="bi bi-x-lg" (click)="modalService.toggleModal()"></i>
            </div>
        </div>

        <form class="modal__cuerpo" [formGroup]="gestionForm" (ngSubmit)="crearGestion()">
            <div class="campo__simple">
                <span>Nombre</span>
                <input type="text" placeholder="Nombre" formControlName="nombre" [value]="padron.nombre + ' ' + padron.ape_paterno + ' ' + padron.ape_materno">
            </div>
            <div class="campo__simple">
                <span>Telefono</span>
                <input type="text" placeholder="Telefono" formControlName="telefono" [value]="padron.telefono">
            </div>
            <div class="campo__doble">
                <div class="campo">
                    <span>Es simpatizante</span>
                    <select name="" id="" formControlName="simpatiza">
                        <option value="true">Si</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="campo">
                    <span>Estatus</span>
                    <select name="" id="" formControlName="estatus">
                        <option value="Contesta">Contesta</option>
                        <option value="Ocupado">Ocupado</option>
                        <option value="Cuelga">Cuelga</option>
                        <option value="Quiere visita de Maderito">Quiere visita de Maderito</option>
                        <option value="Número no existe">Número no existe</option>
                        <option value="Búzon de voz">Búzon de voz</option>
                        <option value="Indeciso">Indeciso</option>
                        <option value="Número suspendido">Número suspendido</option>
                        <option value="Falleció">Falleció</option>
                        <option value="Línea sin conexión">Línea sin conexión</option>
                        <option value="Línea cambió de propietario">Línea cambio de propietario</option>
                        <option value="Número equivocado">Número equivocado</option>
                        <option value="No le interesa">No le interesa</option>
                        <option value="No es de Monterrey">No es de Monterrey</option>
                    </select>
                </div>
            </div>
            <div class="campo__sencillo">
                <span class="span__label">Es titular</span>
                <label class="switch">
                    <input type="checkbox" formControlName="titular" [(ngModel)]="checkTitular" (ngModelChange)="esTitular()">
                    <span class="slider"></span>
                </label>
            </div>

            @if (!checkTitular) {

                <div class="campo__simple">
                    <span>Nombre de la persona</span>
                    <input type="text" formControlName="nombreExtra" placeholder="Nombre de persona">
                </div>
                <div class="campo__simple">
                    <span>Telefono</span>
                    <input type="tel" formControlName="telefonoExtra" placeholder="Telefono">
                </div>
                <div class="campo__simple">
                    <span>Direccion</span>
                    <input type="text" formControlName="direccion" placeholder="Direccion">
                </div>
            }
            
            <div class="campo__simple">
                <span>Comentarios</span>                
                <textarea name="" id="" formControlName="comentarios" placeholder="Agregue comentarios"></textarea>
            </div>

            <div class="modal__cta">
                <button class="cancela" (click)="modalService.toggleModal()">Cancelar</button>
                <button class="agrega" 
                        type="submit" 
                        [disabled]="gestionForm.invalid"
                        [ngClass]="{'form__invalid': !gestionForm.valid, 'form__valid': gestionForm.valid && !validForm}">
                        
                    Agregar
                </button>
            </div>
        </form>
    </div>
    
</div>